html {
	font-size: 110%;
	background: white url("../img/animspace.gif") repeat;
}

body {
	color: MidnightBlue;
	min-height: 100%; min-height: 100vh;
	font-family: 'Barlow', serif;
	font-size: 1.05rem;
	margin: 0.2rem;
}

body a:link, body a:visited {
	color: DarkBlue;
	font-weight: 500;
}

body a:hover  {
	color: blue;
}

#wrapper {
  max-width: 630px;
  padding: 80px 7% 50px 7%;
	background: cornsilk;
	box-shadow: 0 0 0 5px MidnightBlue inset;
}

header {
  display: block;
	margin-bottom: 1.8em;
}

.return {
	display: block;
	position: absolute;
	margin-left: -1.2rem;
	color: silver;
	top: 2.5rem;
	font-size: 1rem;
}

.return a:link, .return a:visited {
	color: SlateGrey;
}

h1 {
	font-size: 2.2rem;
	font-weight: 600;
}

h2 {
  font-size: 1.5rem;
	margin-top: 3rem;
	font-weight: 600;
}

h3 {
	font-size: 1.2rem;
	margin-top: 3rem;
}

h2 img {

}

p {
	line-height: 1.5rem;
}

p.lede {
	font-weight: 500;
}

ul {
	list-style-type: square;
	padding-left: 1.7rem;
	color: #333;
	margin: 2rem 0 2rem 0;
	font-size: 0.95rem;
}

ul li {
	margin: 0.8rem 1rem 0 0rem;
	padding: 0;
}

ol {
	color: #333;
	padding-left: 1.7rem;
	margin: 2rem 0 2rem 0;
	font-size: 1rem;
}

ol li {
	margin: 0.8rem 2rem 0 1rem;
	padding: 0;
}


img.wide {
	max-width: 100%;
}

#table-of-content {
	margin: 3rem 0 4rem 0;
}

#writing img {
	margin-bottom: -0.5rem;
	margin-left: -0.1rem;
}

ul#songs, ul#essays {
	list-style-type: none;
	margin-top: 1.5rem;
	font-size: 1.05rem;
}

ul#songs li img {
	position: absolute;
	margin-left: -1.6rem;
}

ul#essays li img {
	position: absolute;
	margin-left: -1.6rem;
	margin-top: 0.2rem;
}


#essays .meta a:link, #essays .meta a:visited, #songs .meta a:link, #songs .meta a:visited  {
	color: #555;
	font-weight: 500;
}


#essays .meta a:hover, #songs .meta a:hover {
	color: #333;
}

.meta {
	font-size: 1rem;
	color: #5B7176;
}

.info {
	font-size: 1rem;
	color: SlateGrey;
}

.info a:link, .info a:visited, .meta a:link, .meta a:visited {
	color: SlateGrey;
}

.info a:hover, .meta a:hover {
	color: #333;
}

blockquote {
	color: IndianRed;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 1rem;;	
	margin: 0;
	padding: 0.1rem 2rem;
}

strong {
	font-weight: 500;
}

article img {
	max-width: 100%;
}

article figure {
	max-width: 100%;
	margin: 2rem 0;
	text-align: center;
}

article figcaption {
	font-size: 0.9rem;
	color: SlateGrey;
}

article figcaption a:link, article figcaption a:visited, article figcaption a:hover {
	color: SlateGrey;
}

.vid {
	display: block;
	max-width: 100%;
	margin: 1.5rem 0 2rem 0;
}

.update {
	font-size: 1rem;
	font-style: italic;
	color: #555;
	line-height: 1.1rem;
}

/* Article Table */ 
article table  {
  border: 1px solid lightgrey;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
	font-size: 0.85em;
	margin: 0.5rem 0 2.5rem 0;
}
article table td, table th {
  border: 1px solid lightgrey;
	padding: 0.6%;
}
article table tr:nth-child(even) {
  background: BlanchedAlmond;
}

article table thead {
  background: MidnightBlue;
  border-bottom: 2px solid lightgrey;
}
article table thead th {
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-align: left;
}

article table em {
	color: grey;
}

.return-end {
	margin-left: -1.3rem;
}

ul.about-this-site {
	list-style-type: none;
	font-size: 0.9rem;
	margin-top: 0rem;
}

ul.about-this-site li {
	margin-top: 0.4rem;
}

ul.about-this-site li img {
	position: absolute;
	margin-left: -1.6rem;
	margin-top: 0.1rem;
}

/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Barlow Regular'), local('Barlow-Regular'),
       url('../fonts/barlow-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-v4-latin-regular.svg#Barlow') format('svg'); /* Legacy iOS */
}

/* barlow-italic - latin */
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/barlow-v4-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Barlow Italic'), local('Barlow-Italic'),
       url('../fonts/barlow-v4-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-v4-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-v4-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-v4-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-v4-latin-italic.svg#Barlow') format('svg'); /* Legacy iOS */
}

/* barlow-500 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/barlow-v4-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Barlow Medium'), local('Barlow-Medium'),
       url('../fonts/barlow-v4-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-v4-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-v4-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-v4-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-v4-latin-500.svg#Barlow') format('svg'); /* Legacy iOS */
}

/* barlow-500italic - latin */
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/barlow-v4-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Barlow Medium Italic'), local('Barlow-MediumItalic'),
       url('../fonts/barlow-v4-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-v4-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-v4-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-v4-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-v4-latin-500italic.svg#Barlow') format('svg'); /* Legacy iOS */
}

/* barlow-600 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/barlow-v4-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Barlow SemiBold'), local('Barlow-SemiBold'),
       url('../fonts/barlow-v4-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-v4-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-v4-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-v4-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-v4-latin-600.svg#Barlow') format('svg'); /* Legacy iOS */
}