html {
	background: #00b552;
	background-image: url("img/background153.gif");
	background-repeat: repeat-x;
}

ul#links, ul#tools {
	list-style-type: none;
	margin-top: 1.5rem;
	font-size: 1.1rem
}

ul#links li img, ul#tools li img {
	position: absolute;
	margin-left: -1.6rem;
	margin-top: 0.2rem;
}


#links .meta a:link, #links .meta a:visited, #tools .meta a:link, #tools .meta a:visited  {
	color: #555;
	font-weight: 500;
}


#links .meta a:hover, #tools .meta a:hover {
	color: #333;
}

