html {
	font-size: 110%;
	background: none;
}

body {
	background-color: #03031c;
	/* background-image: url(Burnover-header-gradient-dark.jpg); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #f2e4d4;
	min-height: 100%; min-height: 100vh;
	font-size: 1.1rem;
}

body a:link, body a:visited {
	color: salmon;
	font-weight: 500;
}

body a:hover  {
	color: #ff2e29;
}

#wrapper {
  max-width: 680px;
  margin: auto;
  box-shadow: none;
  background-color: transparent;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.latest {
	margin-top: 1rem;
}

img.latest:hover {
 	box-shadow:
      0 0 10px #fe6066,
      0 0 21px #fe6066,
      0 0 42px #fe6066,
      0 0 151px #fe6066;
}

h2 {
	font-family:'Nordica Plus NordicaClassicBkExtOl';
	font-weight:normal;
	margin-top: 4rem;
	font-size: 1.5em;
	color: #fe6066;
	text-align: center;
 	text-shadow:
      0 0 7px #fe6066,
      0 0 10px #000,
      0 0 21px #fe6066,
	  0 0 37px #000,
      0 0 42px #000,
	  0 0 52px #fe6066,
      0 0 82px #fe6066,
      0 0 92px #fe6066,
      0 0 102px #fe6066,
      0 0 151px #fe6066;
}

p {
	font-family: 'Barlow', serif;	
	font-weight:normal;
	font-size: 1.2rem;
	color: #ffbc70;
	text-shadow: 1px 2px 3px rgba(78, 7, 7, 1);
 	text-shadow:
      0 0 7px #000,
      0 0 10px #000,
      0 0 42px rgba(78, 7, 7, 1),
      0 0 102px rgba(78, 7, 7, 1),
      0 0 151px rgba(78, 7, 7, 1);
	
}

p.lede {
	font-family:'Nordica Plus NordicaClassicLight';
	font-size: 1rem;
}

p.subtext {
	display: block;
	width: 50%;
	min-width: 340px;
	margin: auto;
	font-size: 1rem;
	text-align: center;
}

p.longtext {
	display: block;
	margin: auto;
	font-size: 1rem;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	text-align: left;
}

p strong {
	font-weight: bold;
}

#streaming-options {
	width: 100%;
	text-align: center;
}

#streaming-options img {
	width: 200px;
	margin-left: 1rem;
}

#streaming-options img:hover {
	opacity: 80%;
}

#releases {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

#releases img {
	width: 200px;
	margin-left: 0.4rem;
	font-size: 0.8rem;
}

#releases img:hover {
 	box-shadow:
      0 0 10px #fe6066,
      0 0 21px #fe6066,
      0 0 42px #fe6066,
      0 0 151px #fe6066;
}


@font-face {
font-family: 'Nordica Plus NordicaClassicLight';
font-style: normal;
font-weight: normal;
src: local('Nordica Plus NordicaClassicLight'), url('burnover/nordica-plus/NordicaClassicLight.woff') format('woff');
}

@font-face {
font-family: 'Nordica Plus NordicaClassicBkExtOl';
font-style: normal;
font-weight: normal;
src: local('Nordica Plus NordicaClassicBkExtOl'), url('burnover/nordica-plus/NordicaClassicBkExtOl.woff') format('woff');
}

@font-face {
font-family: 'Nordica Plus NordicaClassicRgExt';
font-style: normal;
font-weight: normal;
src: local('Nordica Plus NordicaClassicRgExt'), url('burnover/nordica-plus/NordicaClassicRgExt.woff') format('woff');
}